<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_Layeredlanding>
            <version>0.3.0</version>
        </Hackathon_Layeredlanding>
    </modules>
    <global>
        <models>
            <layeredlanding>
                <class>Hackathon_Layeredlanding_Model</class>
                <resourceModel>layeredlanding_mysql4</resourceModel>
            </layeredlanding>
            <catalog>
                <rewrite>
                    <design>Hackathon_Layeredlanding_Model_Design</design>
                </rewrite>
            </catalog>
            <catalog>
                <rewrite>
                    <layer_filter_item>Hackathon_Layeredlanding_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                </rewrite>
            </catalog>
            <layeredlanding_mysql4>
                <class>Hackathon_Layeredlanding_Model_Mysql4</class>
                <entities>
                    <layeredlanding>
                        <table>layeredlanding</table>
                    </layeredlanding>
                    <attributes>
                        <table>layeredlanding_attributes</table>
                    </attributes>
                </entities>
            </layeredlanding_mysql4>
        </models>
        <resources>
            <layeredlanding_setup>
                <setup>
                    <module>Hackathon_Layeredlanding</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </layeredlanding_setup>
            <layeredlanding_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </layeredlanding_write>
            <layeredlanding_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </layeredlanding_read>
        </resources>
        <blocks>
            <layeredlanding>
                <class>Hackathon_Layeredlanding_Block</class>
            </layeredlanding>
            <catalog>
                <rewrite>
                    <layer_state>Hackathon_Layeredlanding_Block_Layer_State</layer_state>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <layeredlanding>
                <class>Hackathon_Layeredlanding_Helper</class>
            </layeredlanding>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <layeredurl>
                        <type>singleton</type>
                        <class>layeredlanding/observer</class>
                        <method>addLayeredRouter</method>
                    </layeredurl>
                </observers>
            </controller_front_init_routers>
            <controller_action_layout_load_before>
                <observers>
                    <layeredlanding_add_handle>
                        <type>singleton</type>
                        <class>layeredlanding/design</class>
                        <method>addLayoutHandleObserver</method>
                    </layeredlanding_add_handle>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
    <frontend>
        <routers>
            <layeredlanding>
                <use>hackathon_layeredlanding</use>
                <args>
                    <module>Hackathon_Layeredlanding</module>
                    <frontName>layeredlanding</frontName>
                </args>
            </layeredlanding>
        </routers>
		<layout>
			<updates>
				<layeredlanding>
					<file>layeredlanding.xml</file>
				</layeredlanding>
			</updates>
		</layout>
    </frontend>
    <admin>
        <routers>
			<adminhtml>
				<args>
					<modules>
						<layeredlanding before="Mage_Adminhtml">Hackathon_Layeredlanding_Adminhtml</layeredlanding>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <layeredlanding>
                    <file>layeredlanding.xml</file>
                </layeredlanding>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <web>
            <routers>
                <hackathon_layeredlanding>
                    <area>frontend</area>
                    <class>Hackathon_Layeredlanding_Controller_Router</class>
                </hackathon_layeredlanding>
            </routers>
        </web>
    </default>
</config>