<?xml version="1.0"?>
<config>
    <sections>
        <sitemap module="sitemap">
            <groups>
                <landing translate="label">
                    <label>Landingpage Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <changefreq translate="label">
                            <label>Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_frequency</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </changefreq>
                        <priority translate="label comment">
                            <label>Priority</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_sitemap</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Valid values range: from 0.0 to 1.0.</comment>
                        </priority>
                    </fields>
                </landing>
            </groups>
        </sitemap>
        <catalog>
            <groups>
                <seo>
                    <fields>
                        <layeredlanding_canonical_tag translate="label">
                            <label>Use Canonical Link Meta Tag For Layered Landing</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </layeredlanding_canonical_tag>
                    </fields>
                </seo>
            </groups>
        </catalog>
    </sections>
</config>
